==
<!-- Header Area Start -->
        <header id="header">
            <!-- Header Navbar Start -->
            <nav class="header--navbar navbar navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <!-- Navbar Toggle Button Start -->
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#headerNav">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Navbar Toggle Button End -->
                        <!-- Logo Start -->
                        <a href="{{app}}/?rel=logo" class="header--logo navbar-brand">
                            <img src="{{'assets/img/logo.png' | theme }}" >
                        </a>
                        <!-- Logo End -->
                    </div>
                    <!-- Header Nav Start -->
                    <div id="headerNav" class="navbar-collapse collapse">
                        {% partial 'menus/main' %}
                    </div>
                    <!-- Header Nav End -->
                </div>
            </nav>
            <!-- Header Navbar End -->
        </header>
        <!-- Header Area End -->