==
<!-- Pricing Area Start -->
        <div id="pricing">
            <div class="container">
                <!-- Section Title Start -->
                <div class="section--title">
                    <div class="row">
                        <div class="col-md-6">
                            <h2>Planes <span>multidominio</span></h2>
                        </div>
                        <div class="col-md-6">
                            <p class="text-center"><i class="fas fa-star"></i> Más sitios web, un solo panel. 
                            
                            <br><br>
                            
                            <b>¡AHORRA EN MÚLTIPLES PROYECTOS!</b></p>
                        </div>
                    </div>
                </div>
                <!-- Section Title End -->
                <div class="row reset-gutter">
                    <div class="col-md-4 pricing--item-h">
                        <!-- Pricing Item Start -->
                        <div class="pricing--item">
                            <div class="pricing--header">
                                <div class="pricing--icon">
                                    <img src="{{'assets/img/paquete-duo.png' | theme }}" alt="" class="img-responsive center-block">
                                </div>
                            </div>
                            <div class="pricing--body">
                                <div class="pricing--tag">
                                    <p>Para pequeños proyectos <strong>US$ 69</strong></p>
                                </div>
                                <div class="pricing--details">
                                    <h2><strong>Plan</strong> Duo</h2>
                                    <ul class="text-left">
                                        <li><i class="fas fa-check"></i> Soporta 2 sitios web.</li>
                                        <li><i class="fas fa-check"></i> 2 dominios incluídos.</li>
                                        <li><i class="fas fa-check"></i> 2 certificados SSL.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pricing--footer">
                                <a href="#" class="btn--primary btn--ripple">Comprar</a>
                            </div>
                        </div>
                        <!-- Pricing Item End -->
                    </div>
                    <div class="col-md-4 pricing--item-h">
                        <!-- Pricing Item Start -->
                        <div class="pricing--item raised">
                            <div class="pricing--header">
                                <div class="pricing--icon">
                                    <img src="{{'assets/img/paquete-max.png' | theme }}" alt="" class="img-responsive center-block">
                                </div>
                            </div>
                            <div class="pricing--body">
                                <div class="pricing--tag">
                                    <p>El más vendido <strong>US$ 75</strong></p>
                                </div>
                                <div class="pricing--details">
                                    <h2><strong>Plan</strong> Max</h2>
                                    <ul class="text-left">
                                        <li><i class="fas fa-check"></i> Soporta 3 sitios web.</li>
                                        <li><i class="fas fa-check"></i> 1 dominios incluído.</li>
                                        <li><i class="fas fa-check"></i> 3 certificados SSL.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pricing--footer">
                                <a href="#" class="btn--primary btn--ripple">Comprar</a>
                            </div>
                        </div>
                        <!-- Pricing Item End -->
                    </div>
                    
                    <div class="col-md-4 pricing--item-h">
                        <!-- Pricing Item Start -->
                        <div class="pricing--item">
                            <div class="pricing--header">
                                <div class="pricing--icon">
                                    <img src="{{'assets/img/paquete-master.png' | theme }}" alt="" class="img-responsive center-block">
                                </div>
                            </div>
                            <div class="pricing--body">
                                <div class="pricing--tag">
                                    <p>Crea más sitios <strong>US$ 99</strong></p>
                                </div>
                                <div class="pricing--details">
                                    <h2><strong>Plan</strong> Master</h2>
                                    <ul class="text-left">
                                        <li><i class="fas fa-check"></i> Soporta 5 sitios web.</li>
                                        <li><i class="fas fa-check"></i> 3 dominios incluídos.</li>
                                        <li><i class="fas fa-check"></i> 5 certificados SSL.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pricing--footer">
                                <a href="#" class="btn--primary btn--ripple">Comprar</a>
                            </div>
                        </div>
                        <!-- Pricing Item End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Pricing Area End -->